body{
    font-family: Helvetica, sans-serif;
}
.nav{
    margin-top: 50px;
    display: flex;
    margin: 30px;
    padding: 10px;
    text-align: center;


}
p{
    color: #3C3C3C;
}

a{
    text-decoration: none;
    color: #3C3C3C;
    padding: 10px;
    margin-left: 20px;
    /* width: 100px; */


}
.brandname{
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 20px;
}
#signup{
    background-color: #8EE5D1;
    border-radius: 10px;
    text-align: center;

}
#signup, #login{
    float: right;

}


div{
    margin: 100px;
}

/* for intro part */

#intro{

    width: 80%;
    display:flex;
    justify-content: space-evenly;
    padding: 15px;
}
#getstarted{
    width: 100px;
    height: 30px;
}
.introcolumn{
    display:flex;
    flex-direction: column;
}
img {
    float: right;
    padding-right: 15px;
    width: 200px;
    height: 200px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }


/*for book a demo div*/

.form{
    margin: auto;
    padding: 50px;
    text-align: center;
    background-color: #F4F7FA;
    width: 50%;
    
}

button{
    border-radius: 5px;
    border: none;
    background-color: #8EE5D1;
}







  /* for the section part */

  section {
    display: flex;

  }
  .sectionclass{
      margin: 100px;

  }
  
  .col {

    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #F4F7FA;
    justify-content: space-between;
  }
  .sectioncenter {
      text-align: center;
  }

  .sectionnumber {
      color:#8EE5D1;
  }


  /*for footer*/

  footer{
      display: flex;
  }

  .footercol{

  }