body{
    font-family: Helvetica, sans-serif;
}

/* for navbar*/
.nav{
    margin-top: 50px;
    display: flex;
    margin: 30px;
    padding: 10px;
    text-align: center;


}
p{
    color: #3C3C3C;
}

a{
    text-decoration: none;
    color: #3C3C3C;
    padding: 10px;
    margin-left: 20px;
    /* width: 100px; */


}
.brandname{
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 20px;
}
#signup{
    background-color: #8EE5D1;
    border-radius: 10px;
    text-align: center;

}
#signup, #login{
    float: right;

}


div{
    margin: 100px;
}



/* for intro part */

#intro{

    width: 80%;
    display:flex;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
}
#getstarted{
    width: 100px;
    height: 30px;
}
.introcolumn{
    display:flex;
    flex-direction: column;
}
img {
    float: right;
    padding-right: 15px;
    width: 200px;
    height: 200px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }


/*for book a demo div*/

.form{

    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F4F7FA;
    width: 50%;

    
}
input["text"]{
    padding: 20%;
}

button{
    border-radius: 5px;
    border: none;
    background-color: #8EE5D1;
}







  /* for the section part */

  section {
    display: flex;

  }
  .sectionclass{
      margin: 100px;

  }
  
  .col {

    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #F4F7FA;
    justify-content: space-between;
  }
  .sectioncenter {
      text-align: center;
  }

  .sectionnumber {
      color:#8EE5D1;
  }


  /*for footer*/

  footer{
      display: flex;
      max-height: 250px;
      background-color: #F4F7FA;
      justify-content: space-between;
  }

  .footercol{
    display:flex;
    flex-direction: column;
    
     
  }
  .rightalign{
      text-align: right;
  }




  /* for mobile view */

  @media screen and (max-width: 630px) {

    .hideinnav{
        display:none;
    }
    div{
        margin:0;
        padding: 10px;
    }


    .brandname{
        font-weight: bold;
        font-size: 2rem;
        margin-left: 5px;
    }
    #signup, #login{
        font-size: 1rem;
    
    }
    button{
        margin:auto;
    }

    footer{
        flex-direction: column;
        width: auto;
    }
    .rightalign{
        text-align:left;
    }
    section{
        flex-direction: column;
    }
    form{
        width: 100px;
    }

    #intro{

        flex-direction: column;
        justify-content: center;
        margin: auto;

    }

    input["text"],
    #demo{
        max-width: 100px;
    }
    
    #getstarted{
        width: 40%;
        margin: auto;
    }
    img{
        margin:auto;
    }
    .introcolumn{
        margin:auto;
    }
  }