body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

.nav-bar {
    width: 100%;
  /* background-color: blueviolet; */
  /* width: 70%; */
  display: flex;
  /* margin-left: 160px; */
  /* justify-content: space-between; */
  margin-bottom: 30px;
  margin-left :4%
}
.nav-item-1 ul,
.nav-item-2 ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-item-1,
.nav-item-2 {
  margin: 10px;
  padding: 2px;
}
.nav-item-1 li,
.nav-item-2 li {
  margin: 8px;
  padding: 3px;
}
.nav-item-2 {
  position: absolute;
  right: 21%;
}
#signup{
    padding:5px 20px;
}
.button {
  background-color: #8ee5d1;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
}
#title {
  font-size: 20px;
  font-weight: bolder;
  line-height: 1em;
}
.first-block {
  display: flex;
  justify-content: center;
  /* margin: 5%; */
}
.intro {
  /* width: 55%; */
  margin-left: 0;
  text-align: left;
  padding: 10px;
}
img {
  height: 300px;
}

#search {
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 7%;
}
#search input {
  border-radius: 5%;
  width: 20%;
  margin-right: 9px;
  border-color: #f4f7fa;
}
.why-choose {
  margin-top: 8%;
}
.why-choose p,
h1 {
  /* margin-left: 30%; */
  /* margin-right: 30%; */
  text-align: center;
}
.card {
  background-color: #f4f7fa;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 15%;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 5%;
}
.card p {
  color: black;
  opacity: 0.8;
}
footer {
  background-color: #f4f7fa;
  display: flex;
  justify-content: space-between;
}
#about {
  width: 40%;
  margin-left: 10px;
}
.container {
  margin:0 10%;
}
.card h1 {
  text-align: left;
  color: #8ee5d1;
}

@media screen and (max-width: 530px) {
  .first-block {
    flex-direction: column;
    /* background-color: brown; */
    justify-content: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;

  }
  footer {
    flex-direction: column;
    align-items: left;
  }
  #search {
    flex-direction: column;
    padding: 20px;
  }
  #search input {
    width: 100%;
    margin-bottom: 10px;
  }
  .intro{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .container{
      margin: 5px;
  }
  #feature{
      display: none;
  }
  #price{
      display: none;
  }
  #about{
      width: 100%;
  }
  #contact{
      width: 100%;
      margin-left: 10px;
  }
  #signup{
      padding:2px 5px;
  }
}
